//.opacity {
//  opacity: 0.15;
//  top: -56px;
//  z-index: -10;
//}
.background-img {
  background: url("../img/Layer-1.jpg") no-repeat;
  background-size: cover;
  height: 850px;
  width: 100%;
  position: absolute;
  margin-top: -56px;
  z-index: -1;
  opacity: 0.15;
}

.site--bg {
  background: url("../img/about-bg.jpg") no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  position: relative;
  margin-top: -60px;
  z-index: -1;
}

.ion__about {
  background-color: #7beec7;
  font-size: 2rem;
  color: #ffffff;
}

.ion__choose {
  font-size: 3.5rem;
  color: #60606e;
}

.ion-serv {
  font-size: 3rem;
  color: #60606e;
  margin-bottom: 20px;
}

.text__after {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 65px;
    height: 20px;
    background-color: #7beec7;
    z-index: -5;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.text__before {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 65px;
    height: 20px;
    background-color: #7beec7;
    z-index: -5;
    bottom: -5px;
  }
}

.list__before {
  li {
    position: relative;
    margin-bottom: 20px;
    margin-left: 25px;
    &:before {
      content: '✔';
      position: absolute;
      background-color: #7beec7;
      padding: 0 5px;
      color: #ffffff;
      left: -25px;
    }
  }
}
.text__creative {
  position: relative;
  border: 10px solid #60606e;
  &:before {
    content: 'WE`RE';
    font-size: 1.8rem;
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: #7beec7;
    top: -40px;
    bottom: 0;
    right: 0;
    left: 50%;
    transform: translate(-50%, 0);

  }
}

.no-underline {
  padding: 5px 20px;
  margin-left: 10px;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none !important;
    background-color: #7beec7;
    margin-left: 0;
    color: #ffffff;
  }
}

.switcher__active a {
  background-color: #7beec7;
  margin-left: 0;
  color: #ffffff;
}

.dashed {
  position: relative;
  &:after:not(:last-child) {
    content: '';
    width: 5px;
    height: 2px;
    position: absolute;
    background-color: #cdcdcd;
    right: -10px;
    bottom: 10px;

  }
}

.text--bgreen {
  display: inline-block;
  background: #7beec7;
  color: #ffffff;
}

.pricing_plan {
  border-top: 3px solid #7beec7;
  margin-bottom: 150px;
  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  &-active {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
  }
  #triangle-topright {
    width: 0;
    height: 0;
    border-top: 10px solid #7beec7;
    border-left: 10px solid transparent;
    top: 0;
    right: 15px;
    position: absolute;
  }
}

//.navbar{
//  top: 0;
//}
//.navbar-toggler{
//  position: absolute;
//  left: 800%;
//}